@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Consolas";
  src: url(fonts/Consolas.ttf);
}

body {
  font-family: "OpenSans", 'Helvetica';
  letter-spacing:-5px;
  background: black;
  color: white;

/*  background: black;
  color: white;
*/  margin:0;
  padding:0;
  font-weight: bold;
  overflow: hidden;
}

#background-image {
  position: absolute;
  width: 100%;
  height: 100%;

  background-size: auto 96%;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

code, pre {
  font-family: "Consolas", monospace;
  line-height:140%;
}

h1, h2, h3, p {
  margin:0;
}

.corner, em {
  font-style:normal;
  color: #F9E426;
}

a, a:visited {
  color: #28B8F7;
  /*text-decoration:none;*/
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
/*  left:0px;*/
  padding: 100px;
  letter-spacing:10px;
  line-height:120%;
  text-align:center;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#graticules line {
  /*stroke: rgba(255, 255, 255, 0.4);*/
  stroke: rgba(100, 100, 100, 0.7);
  stroke-width: 1px;
}

#graticules line.thick-graticule {
  stroke-width: 2px;
}

div.last {
  top: -5%;
}

.attribution {
  font-size: 30px;
  position: fixed;
  bottom: 0px;
  height: 50px;
  /*  left: 30px;*/
  font-size: 30px;
  line-height: auto;
  display: block;
}

i:before {
  content: '“';
}

i:after {
  content: '”';
}

#logos {
  background-color: white;
  border-radius: 10px;
  display: block;
  position: fixed;
  font-size: 10px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -275px;
  width: 800px;
  height: 550px;
}

#logos img {
  margin: 60px;
  width: 600px;
  display: block;
}

#waagje {
  /*background-image: url('waagje.png');*/
  display: block;
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 70px;
  height: 70px;
  z-index: 9000;
}

table td {
  padding: 20px 5px;
}

table tr td:first-child {
  text-align: right;
}

table tr td:last-child {
  text-align: left;
}

.vraag {
  color: #66c7ff;
}

.lista {
  text-align: left;
}